@model IEnumerable<BookApp.Entities.AppRole>
@{
    ViewData["Title"] = "Index";
}

<h1>Roller</h1>
<br />
<a class="btn btn-outline-success" href="/Role/CreateRole">Kategori Ekle</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="/Role/UpdateRole/@item.Id">Düzenle</a>
                    <a class="btn btn-outline-danger" href="/Role/DeleteRole/@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

